.game-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-container header {
  width: 100%;
  height: 70px;
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
  padding: 0 10px;
}

.header-title h1 {
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 20px;
}

.header-title h1 span {
  color: var(--logo)
}

.header-title h1::after {
  content: '';
  width: 100%;
  height: 3px;
  display: block;
  background-color: var(--logo);
}

.header-userinfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  width: 130px;
  border: 2px solid var(--primary);
  border-radius: 50px;
}

.header-userinfo img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.header-userinfo h2 {
  color: var(--font-color);
  font-size: 18px;
  letter-spacing: 1px;
}

.game-content {
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 650px;
}

.question-card {
  width: 95%;
  height: 65%;
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: .5px 10px 15px rgba(0, 0, 0, .2);
}

.question-card p {
  color: var(--font-color);
}

.trivia-container {
  width: 100%;
  height: 80%;
}

.game-main {
  width: 100%;
  height: 100%;
}

.game-text {
  width: 100%;
  height: 35%;
  padding: 2px 5px;
  background-color: var(--secondary);
  border-radius: 10px 10px 0 0 ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.game-text h3 {
  text-align: center;
  font-size: 20px;
}

.game-text h4 {
  color: var(--font-color);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.game-text p {
  text-align: center;
  font-size: 18px;
  align-self:baseline;
}

.counter {
  align-self: flex-start;
}

.counter::after {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  background-color: var(--primary);
}

.game-text h3 {
  color: var(--font-color);
}

.options-container {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container button {
  width: 95%;
  height: 80%;
  border-radius: 5px;
  transition: all .3s ease;
  color: black;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid var(--bg-color);
  cursor: pointer;
  font-size: 16px;
}

.button-container button:not(:disabled):hover {
  background-color: var(--blue-bd);
  color: var(--font-color);
  border: 1px solid var(--blue-bd);
  transform: translateY(-3px);
}

.button-container button:disabled {
  opacity: .3;
  cursor: progress;
}

.button-container .correct-asnwer:disabled {
  opacity: 1;
  cursor: progress;
}

.button-container .wrong-asnwer:disabled {
  opacity: .3;
  cursor: progress;
}

.button-container .correct-asnwer {
  border: 3px solid rgb(0, 131, 7);
  color: #fff;
  background-color: rgb(0, 131, 7);
  transition: none;
}

.button-container .wrong-asnwer {
  border: 3px solid rgb(248, 79, 79);
  color: #fff;
  background-color: rgb(248, 79, 79);
  transition: none;
}

.footer-card {
  width: 100%;
  height: 20%;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.progress-bar {
  width: 100%;
  height: 15px;
  background-color: var(--secondary);
}

.percentage {
  background-color: green;
  height: 15px;
  transition: 30s linear(1, -0.5, 0);
}


.timer-container {
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.timer-container svg {
  width: 30px;
  height: 30px;
  color: var(--font-color);
}

.timer-container p {
  font-size: 20px;
}

.footer-card button {
  width: 110px;
  height: 40px;
  border-radius: 5px;
  transition: all .5s ease;
  color: #fff;
  font-weight: 600;
  background-color: var(--blue-bd);
  border: 1px solid var(--blue-bd);
  cursor: pointer;
  text-align: center;
}

.game-sidecard {
  width: 95%;
  height: 25%;
  background-color: var(--primary);
  padding: 5px;
  border-radius: 10px;
  box-shadow: .5px 10px 15px rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.score-container, .assertions-container {
  height: 80%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.score-container {
  background-color: rgb(105, 53, 126);
  border-radius: 10px;
  box-shadow: 0.5px 10px 15px rgb(0 0 0 / 20%);
}

.assertions-container {
  background-color: var(--blue-bd);
  border-radius: 10px;
  box-shadow: 0.5px 10px 15px rgb(0 0 0 / 20%);
}

.sidecard-title {
  width: 100%;
  color: var(--font-color);
  padding-left: 5px;
}

.sidecard-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sidecard-icon p {
  font-size: 20px;
  color: var(--font-color);
}

.sidecard-icon svg {
  width: 30px;
  height: 30px;
  color: rgb(211, 211, 211)
}

@media screen and (min-width: 1200px) {
  .header-title h1 {
    font-size: 25px;
  }

  .game-content {
    flex-direction: row;
    height: calc(100% - 70px);
    width: 100%;
    margin-right: unset;
    margin-left: unset;
    max-width: 1290px;
  }

  .game-text {
    height: 28%;
  }

  .options-container {
    height: 72%;
  }

  .button-container {
    height: 23%;
  }

  .game-text .counter {
    font-size: 20px;
  }

  .question-card {
    height: 90%;
    width: 50%;
  }

  .footer-card button {
    height: 40px;
    width: 120px;
  }

  .game-sidecard {
    height: 50%;
    width: 30%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .game-text h3 {
    font-size: 28px;
  }

  .game-text h4 {
    font-size: 26px;
  }

  .score-container, .assertions-container {
    height: 40%;
    width: 80%;
  }

  .sidecard-title {
    font-size: 20px;
  }

  .sidecard-icon {}
}