* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
}

#root {
  width: 100%;
  height: 100%;
}
:root {
  --bg-color: #444950;
  --primary: #474667;
  --secondary: #45639a;
  --blue-bd: rgb(76, 101, 214);
  --font-color: #fff;
  --logo: rgb(105, 53, 126);
}